{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<h5 class="my-3 border-bottom pb-2">게시글 등록</h5>
		<form method="POST" class="post-form my-3">
            <!-- 오류표시 [S] -->
			{% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <!-- 오류표시 [E] -->
            <div class="form-group">
                    <label for="subject">제목</label>
                    <input name="subject" id="subject" class="form-control" type="text" value="{{ form.subject.value|default_if_none:'' }}" placeholder="제목을 입력해주세요.">
            </div>
            <div class="form-group">
				<label for="content">내용</label>
				<textarea class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
			</div>

			<button type="submit" class="btn btn-primary">저장히기</button>
		</form>
	</div>
{% endblock %}

{% block script %}
	<script>
		// simplemde 이미지 수정
		var simplemde = createSimpleMde({
			element: document.getElementById("content")
		});

		// 양식
		if (!simplemde.value()) {
			let context;
			console.log('{{ category }}')
			if ('{{ category }}' == 'practice') {
				context =
`**문제**
문제를 작성해주세요.

-----
**예제 입력**
입력 값을 입력해주세요.

-----
**예제 출력**
출력 값을 입력해주세요.

`
			} else if ('{{ category }}' == 'portfolio') {
				context =
`<div class="text-center"> <img class="img-fluid" src="이미지 주소를 입력하세요!"> </div>

**프로젝트 명** : 우리집 강아지는 복슬 강아지

**제작 기간** : 0000. 00. 00 ~ 0000. 00. 00

**사용 언어** : Z언어

**주요 기능** : 반응형 웹, 밥을 떠먹여줌, 비트코인을 자동으로 캐줌! 등등..

-----
**프로젝트 소개**
프로젝트에 대하여 간단히 소개해주세요!
`
			} else {
				context = ``;
			}
			simplemde.value(context);
		}
	</script>
{% endblock %}
