{% extends "base.html" %}
{% block content %}
<div class="container my-3">

	<form method="POST" class="post-form">
		{% csrf_token %}
		<div class="alert alert-warning" role="alert">
			<p class="my-3 small">ID, 실명은 변경할 수 없습니다.</p>
			<p class="my-3 small"><a href="http://3.37.176.114/pybo/8/">※ 작성 요령</a></p>
		</div>
		{% include "form_errors.html" %}
{#	{{ form }}#}
		<div class="row my-3">
			<div class="col-sm-6 my-3 text-center">
				<img src="{{ user.profileImage }}" class="rounded-circle mx-auto" style="box-shadow:5px 5px 10px grey; border: 1px solid #c8cbcf; margin-bottom: 25px; margin-top: 10px" width="200" height="200">
				<h3 class="font-weight-bold">{{ user.realname }}</h3>
				<h5>{{ user }}</h5>
				<p>{{ user.email }}</p>
			</div>

			<div class="col-sm-6 my-3">
				<div class="form-group" style="padding-top: 30px; padding-bottom: 8px;">
					<label for="id_old_password">기존 비밀번호</label>
					<input type="password" class="form-control" name="old_password" id="id_old_password" value="{{ form.password.value|default_if_none:'' }}">
				</div>
				<div class="form-group" style="padding-top: 8px; padding-bottom: 8px;">
					<label for="id_new_password1">새 비밀번호</label>
					<input type="password" class="form-control" name="new_password1" id="id_new_password1" value="{{ form.password1.value|default_if_none:'' }}">
				</div>
				<div class="form-group" style="padding-top: 8px; padding-bottom: 8px;">
					<label for="id_new_password2">새 비밀번호 확인</label>
					<input type="password" class="form-control" name="new_password2" id="id_new_password2" value="{{ form.password2.value|default_if_none:'' }}">
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">수정하기</button>

	</form>
</div>
{% endblock %}